<div class="row">
  <div class="col-md-12">

<!-- 
    <h1 class="text-center">User#new</h1>
    <p>Find me in app/views/user/new.html.erb</p>
    
    <p>Find me in app/vie ws/user/n ew.html.erbr/new.html.erbr/new.html.erbr/ne w.html.erbr/new.html.erbr/new.html.erbr/new.html.erbr/n ew.html.erbr/new.html.erbr/new.html.erbr/new.htm l.e rbr/new.html.erbr/ new.html.e rbr/new.html.erbr/new.html.e rbr/new.html.erbr/new.html.erbr/new.html.erbr/new.html.erbr/new.html .erbr/new.ht ml.erbr/new.html.erb r/new.html.erbr/new.html.erbr/new.html.erbr/new.html.erbr/new.ht ml.erb</p> -->

    <div class="form-inline text-center">
      <p>New to Quora? Register with us today!</p>
      <div class="form-group">
        <%= form_for @user do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, :placeholder => 'Jane Doe', :class => 'form-control' %>
          <%= f.label :email %>
          <%= f.text_field :email, :placeholder => 'janedoe@gmail.com', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :placeholder => '********', :class => 'form-control' %>
          <%= f.submit :class => 'btn btn-medium btn-primary' %>
        </div>
        <% end %>
      </div>



<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
  </div>
</div>
