<!DOCTYPE html>
<html>
  <head>
    <title>RailsQuora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header', layout: false %>

    <% if flash[:notice] %>
      <div class='alert alert-success'><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class='alert alert-danger'><%= flash[:error] %></div>
    <% end %>
    <% if flash[:info] %>
      <div class='alert alert-info'><%= flash[:errors] %></div>
    <% end %>
    <% if flash[:warning] %>
      <div class='alert alert-warning'><%= flash[:error] %></div>
    <% end %>

    <div class="container-fluid"><%= yield %></div>
  </body>
</html>
